env/
Design/

# dependencies
phonebook/node_modules

# production
/build



book/book/__pycache__/
book/Login/migrations/__pycache__/
book/Login/__pycache__/
book/db.sqlite3

book/*.log 
book/*.pot 
book/*.pyc 
book/media
