body {
  margin: 0;
   font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.slide-in-from-right {
  position: relative;
  right: 0%;
  animation: slide-in 0.3s forwards;
}

@keyframes slide-in {
  0% {
      transform: translateX(50%);
  }
  100% {
      transform: translateX(0);
  }
}

.slide-out-from-left {
  position: relative;
  right: 0%;
  animation: slide-out 0.3s forwards;
}

@keyframes slide-out {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(100%);
  }
}






.slide-in-from-bottom {
  position: relative;
  bottom: 0%;
  animation: slide-in-bottom 0.3s forwards;
}

@keyframes slide-in-bottom {
  0% {
      transform: translateY(100%);
  }
  100% {
      transform: translateY(0);
  }
}

.slide-out-to-bottom {
  position: relative;
  animation: slide-out-bottom 0.3s forwards;
}

@keyframes slide-out-bottom {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(100%);
  }
}




.toggle-checkbox:checked {
  top: 0;
  right: 0;
  border-color:rgb(46, 112, 217);
}

.toggle-checkbox:checked + .toggle-label {
  background-color:  rgb(46, 112, 217);
}
